<section style="height: 100vh;">
@if (!isLoading) {
  <div class="container">
    <!-- Left section -->
    @if (cartItems.length > 0) {
    <div class="left">
      @for (item of cartItems; track $index) {
          <div class="product">
            <img [src]="item.image" [alt]="item?.name" />
            <div class="details">
              <h3>{{ item?.name }}</h3>
              <p>Number of: {{ item?.quantity }}</p>
              <p>Size: {{ item?.units.label}}</p>
              
              <p>
                <span class="price">₹ {{ item?.price }}</span>
              </p>
              
              <div class="actions">
                <button class="qty-btn" (click)="decreaseQuantity(item,item?.id)">-</button>
                <!-- <button class="qty-btn" (click)="decreaseQuantity(item)">-</button> -->
                <span class="fw-semibold">{{item.quantity}}</span>
                <!-- <button class="qty-btn" (click)="increaseQuantity(item)">+</button> -->
                <button class="qty-btn" (click)="increaseQuantity(item)">+</button>
                
              <button
              style="margin-left: 15px; background: none; border: none; color: #222; font-weight: 600; cursor: pointer;"
              (click)="removeItem(item?.id)"
              >
              REMOVE
            </button>
          </div>
        </div>
      </div>
    }
    
    <div class="bottom-actions">
      <button class="place-btn" (click)="buyItem()">PLACE ORDER</button>
    </div>
  </div>
} @else{
  <div class="left">
    <div class="empty-cart">
          <h3>Your cart is empty</h3>
          <p>Start adding products to place your order!</p>
        </div>
  </div>
}

    <!-- Right section -->
    <div class="right">
      <div class="price-details">
        <h4>PRICE DETAILS</h4>

        <div class="price-item">
          <span>Price</span>
          <span>₹{{ total }}</span>
        </div>

        <div class="price-item">
          <span>Platform Fee</span>
          <span>₹5</span>
        </div>

        <div class="price-item total">
          <span>Total Amount</span>
          <span>₹{{ total + 5 }}</span>
        </div>
      </div>

      <div class="secure">
        <i>🔒</i>
        <span>Safe and Secure Payments. Easy returns. 100% Authentic products.</span>
      </div>
    </div>
  </div>
} @else {
  <div class="loading">
    <p>Loading your cart...</p>
  </div>
}
</section>