<!-- ===== HERO SECTION ===== -->
<section class="hero" style="margin-top: 60px;">
  <h1 class="big-text">{{Categories.type}}</h1>
  <div class="row">
    <div class="col">
      <p style="cursor: pointer; padding: 15px; color: blue; font-weight:bold;" (click)="navto('Womens')"><i class="fa-solid fa-angles-left"></i> Back to Home</p>
    </div>
    <div class="col">
      <button class="filter-btn" (click)="toggleFilter()">
        <i class="fa-solid fa-filter"></i> Filter
      </button>
    </div>
  </div>
  <div class="grid">

    @for (item of products; track $index) {

      @if (
        Categories.type === item.category &&
        (!selectedColor || selectedColor === 'All' || selectedColor === item.color)
      ) {

        <div class="card offer-card" >

          @if (item.discount) {
            <span class="offer-badge">
              {{ item.discount }}% OFF
            </span>
          }
             @if(!isLoggedIn){
            <button class="trending__wish" (click)="openAuthModal()">♡</button> 
          }
          @if(isLoggedIn){
            <button class="trending__wish" (click)="addProduct(item)">♡</button>
          }
            <div (click)="openProduct(item)">

              <div class="img-wrap">
                <img [src]="item.image" loading="lazy" />
              </div>
              
              <div class="card-info" style="text-align: center;">
                <h4 class="product-name">{{ item.name }}</h4>
                
                <div class="price-row">
                  <p class="price">₹{{ item.selectedPrice }}</p>
                  
                  @if (item.selectedActualPrice) {
                    <p class="actual-price">
                      ₹{{ item.selectedActualPrice }}
                    </p>
                  }
                </div>
              </div>
          </div>

        </div>

      }
    }

  </div>
</section>




<!-- FILTER PANEL -->
<div class="filter-panel" [class.open]="showFilter">
  <h4>Color</h4>
      <label><input type="radio" name="color" value="All" [(ngModel)]="selectedColor">All</label>
      @for(c of color;track $index){
       <label class="color-option">
  <input
    type="radio"
    name="color"
    [value]="c.name"
    [(ngModel)]="selectedColor"
    (change)="onColorChange(c)"
  />
  <!-- <span class="color-box" [style.background]="c.color"></span> -->
  <span class="color-name">{{ c.name }}</span>
</label>
      }
</div>
